doctype html
html
  head
    title HDFS Dashboard
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .row
        .col-xs-4.col-md-3.col-md-offset-2.col-l-4.col-xl-4
          a(href="/" class="")
            img(id="thumb" src="")
        .col-xs-6.col-md-4.col-l-4.col-xl-4
          h1 HDFS Dashboard

    nav.navbar.navbar-static-top.menubar
      .container
        .col-md-offset-1.col-md-10
          .nav-bar-header
          div#navbar
          
    .container
      .wrapper
        block content
   