doctype html
html
  head
    title HPCL Dashboard
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css') 
    link(href='/img/favicons.png', rel='icon')
    script(src='/js/Chart.js')
    script(src='/js/test.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body(style='margin: 0; background-image: url("/img/login4.jpg"); background-size: 1440px 800px; background-repeat:no-repeat; display: compact;')
    nav(class='navbar' style='')
      div.container
        div.navbar-header
          h1(style='color: #006dcc') HPCL Dashboard
        div.navbar
          ul(class='nav navbar-nav navbar-right')
            
    .container-fluid        
      wrapper
        block content
     